<div class="container-fluid py-4">
    <h1 class="mb-4 text-center">Update KPIs Master Entry for the <span
            style="font-size: 21px; font-weight: 600; color: #8b1537; margin: 10px 0;"> <u> "Agriculture "
            </u> </span> Department</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" id="scrollableDiv">
                        <div class="mat-elevation-z8" style="overflow: auto">
                            <table id="datatable" class="text-center">
                                <thead>
                                    <tr>
                                        <th style="width:10%;" class="text-center">S.No.</th>
                                        <th style="width:30%;" class="text-center">KPIs</th>
                                        <th style="width:20%;" class="text-center">Add/Edit KPI</th>
                                        <th style="width:20%;" class="text-center">Progress Enter</th>
                                        <th style="width:20%;" class="text-center">Progress Tracking</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Total Agricultural Production</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>2</td>
                                        <td>Food Processing Output</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>3</td>
                                        <td>Percentage of Produce Processed</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>4</td>
                                        <td>Agro-Processing Units Established</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>5</td>
                                        <td>Farmer Income Growth</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>6</td>
                                        <td>Export of Agri & Processed Foods</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>7</td>
                                        <td>Cold Storage Capacity</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>8</td>
                                        <td>Post-Harvest Loss Reduction</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>9</td>
                                        <td>Area Under High-Value Crops</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                                    <tr>
                                        <td>10</td>
                                        <td>Area Under High-Value Crops</td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiaddition']" title="Edit">
                                                <img src="assets/icons/circle.png" alt="Edit" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressentry']" title="Progress Enter">
                                                <img src="assets/icons/growth.png" alt="Progress Enter" style="width:20px;">
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a [routerLink]="['/department/kpiprogressdashboard']" title="Progress Tracking">
                                                <img src="assets/icons/performance.png" alt="Progress Tracking" style="width:20px;">
                                            </a>
                                        </td>
                                    </tr>
                
                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>