h1,
h2 {
    font-weight: 500 !important;
    color: #333;
}


#datatable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    color: black;
    font-size: 13px;
}

#datatable td,
#datatable th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

#datatable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#datatable tr:hover {
    background-color: #ddd;
}

#datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8b1537;
    color: white;
}

.card-header {
    background-color: #393939;
    color: white;
}


.back-icon-btn {
    background-color: transparent;
    color: #333;
    border: 2px solid #88AB8E;
    padding: 8px 16px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.back-icon-btn:hover {
    background-color: #88AB8E;
    color: white;
}