body,
#main-wrapper {
    background-color: #f4f6f9;
}

.card {
    border: none;
    background: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rounded-xl {
    border-radius: 1.5rem !important;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 0.5rem;
    height: 3.5rem;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.svg-img {
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    border-radius: 0.5rem;
}

.btn-outline-secondary {
    border: 1px solid #ced4da;
    color: #6c757d;
}

mat-error {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: #dc3545;
}


.btn-info,
.btn-warning {
    border-radius: 20rem;
    font-weight: 300;
    padding: 0.55rem 1.5rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-info {
    background-color: #17a2b8;
    /* Bootstrap Info Color */
    border-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
    /* Bootstrap Warning Color */
    border-color: #ffc107;
    color: #212529;
}