<app-header></app-header>

<div class="container py-4">
    <!-- <div class="row">       
        <div class="col-md-12">
            <h2 class="fw-bold text-center mb-4">
                Chhattisgarh Anjor Vision @ 2047 - Theme-wise Initiatives Count
            </h2>
        </div>
    </div> -->
    

    <!-- <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped align-middle text-center">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Theme</th>
                            <th>Short Term (2030)</th>
                            <th>Mid Term (2035)</th>
                            <th>Long Term (2047)</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="text-start">Powerhouse of Agricultural Produce & Processed Superfoods</td>
                            <td>16</td>                          
                            <td>9</td>                            
                            <td>5</td>                            
                            <td>30</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td class="text-start">Hub for MFP & Herbals</td>
                            <td>15</td>                            
                            <td>7</td>                           
                            <td>1</td>                            
                            <td>23</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td class="text-start">Titan in Industry</td>
                            <td>8</td>                            
                            <td>11</td>                            
                            <td>5</td>                           
                            <td>27</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td class="text-start">Tourism - Celebrating Chhattisgarh's Natural & Cultural Tapestry</td>
                            <td>13</td>                            
                            <td>3</td>                            
                            <td>1</td>                            
                            <td>17</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td class="text-start">Leader in Inland Logistics</td>
                            <td>8</td>                            
                            <td>6</td>                            
                            <td>5</td>                           
                            <td>19</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td class="text-start">Expansion into AI & IT services</td>
                            <td>11</td>                            
                            <td>4</td>                           
                            <td>1</td>                            
                            <td>15</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td class="text-start">Land of Innovation, Skilled Human Capital & Quality Education</td>
                            <td>13</td>                            
                            <td>6</td>                            
                            <td>1</td>                            
                            <td>20</td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td class="text-start">A Healthy & Prospering Society</td>
                            <td>18</td>                           
                            <td>8</td>                           
                            <td>4</td>                            
                            <td>30</td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td class="text-start">Leader in Sustainable and Renewables led Development</td>
                            <td>18</td>                            
                            <td>3</td>                            
                            <td>2</td>                            
                            <td>21</td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td class="text-start">Art and Culture Capital of India</td>
                            <td>6</td>                            
                            <td>6</td>                            
                            <td>3</td>                            
                            <td>15</td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td class="text-start">Infrastructure for Thriving Communities with enriched Lives</td>
                            <td>8</td>                            
                            <td>5</td>                            
                            <td>3</td>                            
                            <td>16</td>
                        </tr>

                        <tr>
                            <td>12</td>
                            <td class="text-start">Governance for Lasting Value Creation in Citizens's</td>
                            <td>13</td>                           
                            <td>4</td>                            
                            <td>0</td>                           
                            <td>17</td>
                        </tr>

                        <tr>
                            <td>13</td>
                            <td class="text-start">Premier Investment Destination</td>
                            <td>2</td>                           
                            <td>3</td>                           
                            <td>2</td>                            
                            <td>7</td>
                        </tr>
                    </tbody>

                    <tfoot class="table-secondary fw-bold text-center">
                        <tr>
                            <td colspan="2">Grand Total</td>
                            <td>149</td>                            
                            <td>75</td>                            
                            <td>33</td>                            
                            <td>257</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <h2 class="fw-bold text-center mb-4">
                Chhattisgarh Anjor Vision @ 2047 - Theme-wise Department Mapping
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">                
                <table border="1" cellpadding="10" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Theme</th>
                            <th>Description</th>
                            <th>Mapped Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Powerhouse of Agricultural Produce & Processed Superfoods</td>
                            <td>Chhattisgarh identifies agriculture as the backbone of its economy, supported by diverse agro-climatic
                                zones and a favorable monsoon. The state is shifting toward a high-growth model by prioritizing
                                livestock, fisheries, and the production of processed superfoods. By modernizing farming methods and
                                expanding global exports, Chhattisgarh aims to maximize farmer incomes and lead the nation in
                                agricultural innovation.</td>
                            <td> <b> Agriculture Development and Farmer Welfare and Bio-Technology Department </b> </td>
                        </tr>
                        <tr>
                            <td>Hub for MFP & Herbals</td>
                            <td>Chhattisgarh is evolving into a global hub for Minor Forest Produce (MFP) and herbal products by
                                shifting from raw collection to advanced processing. By 2047, the state will lead the world in
                                sustainable forest management, global branding, and AYUSH-led wellness, ensuring long-term economic
                                prosperity for its forest-dependent communities.</td>
                            <td> <b> Chhattisgarh Forest and Climate Change Department </b></td>
                        </tr>
                        <tr>
                            <td>Titan in Industry</td>
                            <td>Chhattisgarh stands as a titan in India’s industrial landscape, powering the nation’s growth through its
                                leadership in steel, coal, and mineral resources. By 2047, the state is transitioning toward a
                                future-ready model that prioritizes high-value manufacturing and green technologies, establishing a
                                global benchmark for innovation.</td>
                            <td> <b> Commerce and Industry </b>  </td>
                        </tr>
                        <tr>
                            <td>Tourism – Celebrating Chhattisgarh’s Natural & Cultural Tapestry</td>
                            <td>Chhattisgarh is a treasure trove of natural beauty and cultural heritage, enriched by its vibrant tribal
                                legacy and festivals. By 2047, the state will lead in sustainable, community-driven tourism that
                                celebrates its unique tapestry while generating prosperity.</td>
                            <td> <b> Tourism Department </b> </td>
                        </tr>
                        <tr>
                            <td>Leader in Inland Logistics</td>
                            <td>Leveraging its strategic central location and multimodal connectivity, Chhattisgarh is transforming into
                                a national epicenter for inland logistics. By 2047, the state will lead with technology-driven,
                                sustainable supply chains and world-class distribution infrastructure.</td>
                            <td> <b> Commerce and Industry </b>  </td>
                        </tr>
                        <tr>
                            <td>Expansion into AI & IT Services</td>
                            <td>With power surplus and competitive infrastructure, Chhattisgarh is emerging as a global hub for AI,
                                blockchain, and cloud services. Supported by a strong startup ecosystem, the state aims to lead India’s
                                digital transformation by 2047.</td>
                            <td> <b> Department Of Information Technology</b></td>
                        </tr>
                        <tr>
                            <td>Land of Innovation, Skilled Human Capital & Quality Education</td>
                            <td>Harnessing its young demographic dividend, Chhattisgarh is building a globally competitive workforce
                                through accessible education and skilling. Strong policy intent and investment are creating a foundation
                                for innovation and long-term socio-economic growth.</td>
                            <td> <b> School Education Department </b> </td>
                        </tr>
                        <tr>
                            <td>A Healthy & Prospering Society</td>
                            <td>Chhattisgarh is developing a holistic, digitally enabled healthcare ecosystem. By strengthening primary
                                care and affordability, the vision for 2047 ensures accessible, quality healthcare for every citizen.
                            </td>
                            <td> <b> Department of Health & Family Welfare & Medical Education </b> </td>
                        </tr>
                        <tr>
                            <td>Leader in Sustainable and Renewables-Led Development</td>
                            <td>Balancing growth with environmental stewardship, Chhattisgarh is leading India’s green transition. By
                                leveraging forest cover and renewable energy, the state aims to build a circular, low-carbon economy by
                                2047.</td>
                            <td> <b> Energy Department </b></td>
                        </tr>
                        <tr>
                            <td>Art and Culture Capital of India</td>
                            <td>Rooted in rich tribal traditions and cultural heritage, Chhattisgarh celebrates unique crafts, music,
                                festivals, and cuisine. The state is positioning itself as India’s cultural capital by preserving and
                                promoting its artistic legacy.</td>
                            <td> <b> Art and Culture Department </b></td>
                        </tr>
                        <tr>
                            <td>Infrastructure for Thriving Communities with Enriched Lives</td>
                            <td>By prioritizing quality housing, energy, water, and transport, Chhattisgarh is building resilient cities
                                and villages. Urban modernization and social infrastructure aim to enhance quality of life for all
                                residents.</td>
                            <td> <b> Gramin Vikas and Panchayati Raj Department </b></td>
                        </tr>
                        <tr>
                            <td>Governance for Lasting Value Creation in Citizens</td>
                            <td>Embracing “Minimum Government, Maximum Governance,” Chhattisgarh is redefining administration through
                                transparency and digital systems. Citizen-centric, accountable governance is central to long-term trust
                                and prosperity.</td>
                            <td> <b> Good Governance Portal </b> </td>
                        </tr>
                        <tr>
                            <td>Premier Investment Destination</td>
                            <td>Chhattisgarh is creating a conducive investment climate through industrial parks, policy reforms, and
                                seamless facilitation. The state aims to attract sustained private investment to drive economic and
                                social growth.</td>
                            <td> <b> Commerce and Industry </b> </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
