<app-header></app-header>
<div class="container mt-1">
    <div class="row">
        <div class="col-md-12">
            <h2 class="fw-bold text-center mb-4">
                Chhattisgarh Anjor Vision @ 2047 - Theme Details
            </h2>
            <h3 class="fw-bold text-center mb-4">
                Theme : {{this.themedata[0]?.theme_name}}
            </h3>
            <p class="text-secondary"> {{this.themedata[0]?.description}} </p>
        </div>
    </div>    
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="table-responsive">
                <table border="1" cellpadding="10" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Mapped Initiatives</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of themedata ;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{d.initiative_title}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
        </div>
    </div>
</div>

<app-footer></app-footer>
