<app-header></app-header>

<div class="container py-5 vision-container">
    <h1 class="fw-bold text-center mb-5">
       Current Status vs. Vision 2047
    </h1>
    <div class="row">

        <!-- Demographic Details -->
        <div class="col-md-4 mb-4">
            <div class="custom-card border-danger">
                <div class="custom-card-header bg-danger text-white">
                    <h1 class="text-white">Demographic Details</h1>
                </div>
                <div class="custom-card-body">

                    <!-- Population -->
                    <h2 class="text-primary mt-2">Population</h2>
                    <ul class="list-group list-group-flush improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>3.08 Crore (2% of India)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>3.6 - 3.8 Crore</span>
                        </li>
                    </ul>

                    <!-- Age -->
                    <h2 class="text-primary mt-3">Average Age</h2>
                    <ul class="list-group list-group-flush improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>27 years (India: 29)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>36 - 37 years</span>
                        </li>
                    </ul>

                    <!-- Life Exp -->
                    <h2 class="text-primary mt-3">Life Expectancy</h2>
                    <ul class="list-group list-group-flush improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>65.2 years (India: 69.4)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>> 84 years</span>
                        </li>
                    </ul>

                    <!-- Urban -->
                    <h2 class="text-primary mt-3">Urban Population</h2>
                    <ul class="list-group list-group-flush improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>27.76% (India: 35.70%)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>40 - 45%</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Social Details -->
        <div class="col-md-4 mb-4">
            <div class="custom-card border-success">
                <div class="custom-card-header bg-success">
                    <h1 class="text-white">Social Details</h1>
                </div>
                <div class="custom-card-body">

                    <!-- Unemployment -->
                    <h2 class="text-primary mt-2">Unemployment Rate</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>2.7% (India: 3.5%)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>
                                < 1%</span>
                        </li>
                    </ul>

                    <!-- FLFPR -->
                    <h2 class="text-primary mt-3">Female Labour Force Participation</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>59.5% (India: 41.7%)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>> 75%</span>
                        </li>
                    </ul>

                    <!-- Literacy -->
                    <h2 class="text-primary mt-3">Literacy Rate</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>75.08% (India: 79.4%)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>> 99.9%</span>
                        </li>
                    </ul>

                    <!-- IMR -->
                    <h2 class="text-primary mt-3">Infant Mortality Rate (IMR)</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>37 per 1000 (India: 25)</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>
                                < 5 per 1000</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Economic Details -->
        <div class="col-md-4 mb-4">
            <div class="custom-card border-info">
                <div class="custom-card-header bg-info">
                    <h1 class="text-white">Economic Details</h1>
                </div>
                <div class="custom-card-body">

                    <!-- GDP -->
                    <h2 class="text-primary mt-2">State GDP</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>₹5.67 Lakh Cr</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>₹75+ Lakh Cr</span>
                        </li>
                    </ul>

                    <!-- Agriculture -->
                    <h2 class="text-primary mt-3">GSDP from Agriculture</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>₹1.07 Lakh Cr</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>₹10–11 Lakh Cr</span>
                        </li>
                    </ul>

                    <!-- Industry -->
                    <h2 class="text-primary mt-3">GSDP from Industry</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>₹2.31 Lakh Cr</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>₹25–27 Lakh Cr</span>
                        </li>
                    </ul>

                    <!-- Services -->
                    <h2 class="text-primary mt-3">GSDP from Services</h2>
                    <ul class="list-group improved-list">
                        <li class="list-group-item">
                            <strong>Current:</strong> <span>₹1.94 Lakh Cr</span>
                        </li>
                        <li class="list-group-item alt-row">
                            <strong>Vision 2047:</strong> <span>₹37–39 Lakh Cr</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>