<app-header></app-header>
<div class="container py-5">
    <h2 class="fw-bold text-center mb-5">
        Chhattisgarh Anjor Vision @ 2047 - Photo Gallery
    </h2>
    <div class="row g-4 justify-content-center">
        <div class="col-md-5">
            <div class="gallery">
                <img src="assets/img/3.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="gallery">
                <img src="assets/img/3.jfif" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
